.linhas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundoTxt {
    background-color: darkblue;
    color: darkblue;
    margin: 0;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.fundoSpc {
    background-color: white;
    margin: 0;
    color: white;
    display: inline-block;
    /* border:2px solid red; */
    text-align: center;
    width: 1.5em;
}

#labirinto {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#mkStart {
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
    /* border: 2px solid red; */
}

#victory {
    text-align: center;
    font-size: larger;
    margin-top: 15px;
    background-color: lightgreen;
}

h1 {
    text-align: center;
}

#buttonRestart {
    margin: auto;
    margin-top: 5px;
    display: block;
}